
@{
    ViewData["Title"] = "Home Page";
}
<style>
    .carousel-item {
        height: 600px;
    }

        .carousel-item img {
            height: 600px;
        }

    .black_color_btn {
        background-color: black !important;
    }

    table {
        overflow-y: scroll;
        height: 160px;
        display: block;
    }
</style>

<div class="col-md-9 mx-auto mt-4">
    <div id="carouselExampleCaptions" class="carousel slide " data-bs-ride="carousel" data-aos="zoom-out">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active black_color_btn" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" class="black_color_btn" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" class="black_color_btn" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <a asp-controller="SFProject" asp-action="Home_page_menu_view">
                    <img src="~/img/Slide6.png" class="d-block w-100" alt="...">
                </a>
            </div>
            <div class="carousel-item">
                <a asp-controller="SFogz" asp-action="Sfogz_view" target="_blank">
                    <img src="~/img/Slide3.png" class="d-block w-100" alt="...">
                </a>
            </div>
            <div class="carousel-item">
                <a asp-controller="SDTA" asp-action="Sdt_ax_main_view" target="_blank">
                    <img src="~/img/Slide5.png" class="d-block w-100" alt="...">
                </a>
            </div>
        </div>
    </div>
</div>
<div id="hot_topic_annoucement">
    <div class="col-sm-12 section-bg">
        <div class="row mt-4">
            <div class="col-sm-12" data-aos="fade-right">
                <section class="why-us section-bg">
                    <h3>Hot Topic</h3>
                    <div class="row">
                        <template v-for="(item_card,index) in list_news_acc_top_three">
                            <div class="col-sm-4">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">{{item_card.TOPIC_POST_ENG}}</h5>
                                        <p class="card-text">{{item_card.DETAIL_ENG}}</p>
                                        <a :href="item_card.LINK_SRC" class="btn btn-primary">See more</a>
                                    </div>
                                </div>
                            </div>
                        </template>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

<div id="annoucement_component">
    <div class="col-sm-12">
        <div class="row mt-4">
            <div class="col-sm-12" data-aos="fade-right">
                <h3>Announcement</h3>
                <div class="table-responsive">
                    <table class="table table-sm table-borderless" style="border:1px solid black;">
                        <tbody>
                            <template v-for="(item_list_data_news,index) in list_news_acc">
                                <tr>
                                    <td><img height="11" alt="" src="http://43.72.2.194/sdt/images/Bullet/bullet_arrow.gif" width="14"></td>
                                    <td>{{getFormattedDate(item_list_data_news.CREATE_DATE)}} :</td>
                                    <td><a :href="item_list_data_news.LINK_SRC">{{item_list_data_news.TOPIC_POST_ENG}}</a></td>
                                    <td><img src="http://43.72.2.194/sdt/images/bullet/new.gif" alt="news"></td>
                                </tr>
                            </template>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- ======= Footer ======= -->
<footer id="footer" data-aos="fade-up" data-aos-anchor-placement="top-bottom" style="background-color:#036;">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 footer-contact">
                    <h3>SDT</h3>
                    <p>
                        Sony Device Technology (Thailand) Co., Ltd.
                        <br>
                        140 Moo.5 Bangkadi Industrial Park Tiwanon Road,
                        <br>
                        Tambol Bangkadi Amphur Muang Pathumthani,Pathumthani 12000
                        <br>
                        Thailand
                        <br>
                        <br>
                        <strong>Tel:</strong> 02 501 1730
                        <br>
                        <strong>Email:</strong> sdtcontact@ap.sony.com
                        <br>
                    </p>
                </div>
                <div class="col-sm-3 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li>
                            <i class="bx bx-chevron-right"></i>
                            <a asp-controller="SFProject" asp-action="Home_page_menu_view">Home</a>
                        </li>
                        <li>
                            <i class="bx bx-chevron-right"></i>
                            <a asp-controller="SFProject" asp-action="Site_map_view">Site Map</a>
                        </li>
                        <li>
                            <i class="bx bx-chevron-right"></i>
                            <a asp-controller="SDTConcept" asp-action="Sdt_concept_view">SF Concept</a>
                        </li>
                        <li>
                            <i class="bx bx-chevron-right"></i>
                            <a asp-controller="SFogz" asp-action="Sfogz_view">SF Organization</a>
                        </li>
                        <li>
                            <i class="bx bx-chevron-right"></i>
                            <a asp-controller="SFProject" asp-action="Sdt_porject_view">SF Project</a>
                        </li>
                        <li>
                            <i class="bx bx-chevron-right"></i>
                            <a asp-controller="SDTA" asp-action="Sdt_ax_main_view">SF A1-10</a>
                        </li>

                    </ul>
                </div>

                <div class="col-sm-2 footer-links">
                    <h4>Our Services</h4>
                    <ul>
                        <li>
                            <i class="bx bx-chevron-right"></i>
                            <a href="http://43.72.2.194/sdt/">SDT Portal</a>
                        </li>
                        <li>
                            <i class="bx bx-chevron-right"></i>
                            <a href="http://43.72.1.2/IE/Web/">IE Department Portal</a>
                        </li>
                        <li>
                            <i class="bx bx-chevron-right"></i>
                            <a asp-controller="Admin" asp-action="Admin_panel_main_view">Admin Control</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-3 footer-contact">
                    <h3>Contract Developer</h3>
                    <p>
                        Feedback & Bug or Etc..
                        <br>
                        <strong>Email:</strong> Thatphon.Chutinan@sony.com
                        <br>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid footer-bottom" style="background-color:#036;">
        <div class="copyright" style="color:#fff;">
            &copy; Copyright
            <strong><span>https://bootstrapmade.com/license/</span></strong>. All Rights Reserved
        </div>
    </div>
</footer>
<!-- End Footer -->
<script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
<script>
    var table_news = new Vue({
        el: '#annoucement_component',
        data() {
            return {
                list_news_acc: []
            }
        },
        created: function () {
            this.get_list_news_acc()
        },
        methods: {
            get_list_news_acc() {
                axios
                    .post('./get_data_news_annoucement')
                    .then(res => { this.list_news_acc = res.data })
                    .catch(function (error) { console.log(error); })
            },
            getFormattedDate(date) {
               // return dayjs(date, 'DD/MM/YYYY')
                return dayjs(date).format('DD/MM/YYYY')
            },

        },
        computed: {

        },
        watch: {

        },
    })

    var hot_topic = new Vue({
        el: '#hot_topic_annoucement',
        data() {
            return {
                list_news_acc_top_three: [],
            }
        },
        created: function () {
            this.get_list_news_acc_top_three()
        },
        methods: {
            get_list_news_acc_top_three() {
                axios
                    .post('./get_data_news_annoucement_top_three')
                    .then(res => { this.list_news_acc_top_three = res.data })
                    .catch(function (error) { console.log(error); })
            },
        },
        computed: {

        },
        watch: {

        },


    })
</script>
