@{
    ViewData["Title"] = "Knowledge_center_view";
}
<style>
    canvas {
        border: 1px solid black;
        padding: 0;
        margin: auto;
        margin-left: 3px;
        margin-right: 3px;
        margin-top: 10px;
        margin-bottom: 10px;
        /*display: block;*/
        width: 260px;
        height: 140px;
    }
</style>
<section data-aos="fade-right">
    <div class="section-title">
        <h3>SDT SMART FACTORY <span>KNOWLEDGE CENTER</span></h3>
    </div>
</section>
<div id="app1">
    <section data-aos="fade-right">
        <h1>Technical Award</h1>
        <div class="card">
            <div class="card-body">
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    <template v-for="(items, index) in list_project_render">
                        <div class="col">
                            <div class="card h-100" v-on:click="LinkPage(items.id)">
                                <div class="card-body shadow">
                                    <h5 class="card-title">{{items.project_name}}</h5>
                                    <p class="card-text"></p>
                                </div>
                            </div>
                        </div>
                    </template>
                </div>
            </div>
        </div>
    </section>
</div>



<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    var app1 = new Vue({
        el: '#app1',
        data() {
            return {
                list_project_render: [],
            }
        },
        created: function () {
           this.get_list_render_mst()
        },
        methods: {
            get_list_render_mst() {
                axios
                    .post('./get_vew_knowleage_project')
                    .then(res => { this.list_project_render = res.data })
                    .catch(function (error) { console.log(error); })
            },
            LinkPage(param) {
                window.location.href = ('../Knowledge/Detail_knowledge_center?apply_id=' + param + '')
            },
        },
        computed: {
           
        },

    })
</script>

@*<section data-aos="fade-right">
        <h1 class="mt-4">Business Logic</h1>
        <div class="card">
            <div class="card-body">
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div class="col">
                        <div class="card h-100">
                            <img src="..." class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">Last updated 3 mins ago</small>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100">
                            <img src="..." class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">Last updated 3 mins ago</small>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100">
                            <img src="..." class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">Last updated 3 mins ago</small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row row-cols-1 row-cols-md-3 g-4 mt-2">
                    <div class="col">
                        <div class="card h-100">
                            <img src="..." class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">Last updated 3 mins ago</small>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100">
                            <img src="..." class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">Last updated 3 mins ago</small>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100">
                            <img src="..." class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">Last updated 3 mins ago</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>*@
