
@{
    ViewBag.Title = "Audit_one_view";
    Layout = "~/Views/Shared/_LayoutAnine.cshtml";
}
<script src="~/lib/pdfjs/pdf.min.js"></script>
<style>
    canvas {
        border: 1px solid black;
        padding: 0;
        margin: auto;
        margin-left: 8px;
        margin-top: 10px;
        margin-bottom: 10px;
        /*display: block;*/
        width: 480px;
    }
</style>
<div class="main-wrapper">
    <div class="main-content">

        <section id="hero" class="d-flex align-items-center">
            <div class="container" data-aos="zoom-out" data-aos-delay="100">
                <h1>Audit <span>(1st party)</span></h1>
            </div>
        </section><!-- End Hero -->

        <div class="d-flex flex-row justify-content-end align-items-center mb-0">
            <div>
                <button class="btn fs-2" onclick="partion_page()"><i class="bi bi-grid"></i></button>
                <button class="btn fs-2" onclick="full_page()"><i class="bi bi-square"></i></button>
            </div>
        </div>

        <!-- ======= Team Section ======= -->
        <section id="portfolio-flters" class="team section-bg">
            <div class="container" data-aos="fade-up">
                <div class="section-title">
                    <h3>Audit(1st party) SDT Internal Audit (ISO9001 & IATF16949) </h3>
                </div>
            </div>
        </section><!-- End Team Section -->
        <div class="container" id="section1">
            <div class="container" data-aos="fade-up">
                <div class="col-lg-12 col-md-12 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                    <div id="canvas" class="img-fluid"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        render_audit_first();
        function render_audit_first() {
            // If absolute URL from the remote server is provided, configure the CORS
            // header on that server.
            var url = '../PDF/QA_AX/A_nine/Audit_first/Audit_anine_first_party.pdf';
            // Loaded via <script> tag, create shortcut to access PDF.js exports.
            var pdfjsLib = window['pdfjs-dist/build/pdf'];
            // The workerSrc property shall be specified.
            pdfjsLib.GlobalWorkerOptions.workerSrc = '../lib/pdfjs/pdf.worker.js';
            // Asynchronous download of PDF
            var loadingTask = pdfjsLib.getDocument(url);
            loadingTask.promise.then(function (pdf) {
                var canvasdiv = document.getElementById('canvas');
                var totalPages = pdf.numPages
                var data = [];
                for (let pageNumber = 1; pageNumber <= totalPages; pageNumber++) {
                    pdf.getPage(pageNumber).then(function (page) {
                        var scale = 2;
                        // var scale = window.devicePixelRatio || 1;
                        // canvasdiv.className = 'filter';
                        var viewport = page.getViewport({ scale: scale });
                        // const para = document.createElement("p");
                        var canvas = document.createElement('canvas');
                        canvasdiv.appendChild(canvas).className = "render_page";
                        // Prepare canvas using PDF page dimensions
                        var context = canvas.getContext('2d');
                        canvas.height = viewport.height;
                        canvas.width = viewport.width;
                        // Render PDF page into canvas context
                        var renderContext = { canvasContext: context, viewport: viewport };
                        var renderTask = page.render(renderContext);
                        renderTask.promise.then(function () {
                            data.push(canvas.toDataURL('image/png'))
                            console.log(data.length + ' page(s) loaded in data')
                        });
                    });
                }

            }, function (reason) {
                // PDF loading error
                console.error(reason);
            });
        }
    });

    function full_page() {
        $('.render_page').css('width', '100%');
    }

    function partion_page() {
        $('.render_page').css('width', '480px');
    }
</script>


