@{
    ViewData["Title"] = "Sdt_dashboard_view";
}

<section id="contact" class="contact">
    <div class="container" data-aos="zoom-out">

        <div class="section-title">
            <h3>SDT SMART FACTORY <span>ACTIVITY</span></h3>
            <a href="http://thsdtsp-web/SDT/MFG%20Machine%20Capacity/Forms/AllItems.aspx?RootFolder=%2FSDT%2FMFG%20Machine%20Capacity%2Fdata%2FProject%20data%2FSF%20A8%2FSDT%20Smart%20Factory%20Open%20House%202020&View=%7B1397D1D9%2DD045%2D469F%2DA26D%2DE638C92C4136%7D" class="nav-link scrollto">SF ACTIVITY</a>
        </div>
    </div>
</section><!-- End Hero -->
<!-- ======= Team Section ======= -->
<section id="team" class="team section-bg">
    <div class="container" data-aos="fade-up">
        <div class="row">

            <a href="#portfolio-flters" class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                <div class="member">
                    <div class="member-img">
                        <img src="~/assets_anine_pwp/SFOpenHouse2020/3.jpg" style="image-rendering: auto; width:100%; height: auto" class="img-fluid" alt="">
                    </div>
                    <div class="member-info">
                        <h4>
                            SDT SMART FACTORY OPEN HOUSE 2020
                        </h4>
                        <span>SDT SMART FACTORY OPEN HOUSE IMAGE</span>
                    </div>
                </div>
            </a>

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch opacity-25" data-aos="fade-up" data-aos-delay="300">
                <div class="member">
                    <div class="member-img p-4 pb-0 text-center">
                        <img src="~/img/SFLOGO_XL.png" style="image-rendering: auto; width: 240px; height: 213px;" class="img-fluid" alt="">
                    </div>
                    <div class="member-info">
                        <h4>
                            SDT SMART FACTORY OPEN HOUSE 2021
                        </h4>
                        <span>SDT SMART FACTORY OPEN HOUSE IMAGE</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch opacity-25" data-aos="fade-up" data-aos-delay="300">
                <div class="member ">
                    <div class="member-img p-4 pb-0 text-center">
                        <img src="~/img/SFLOGO_XL.png" style="image-rendering: auto; width: 240px; height: 213px;" class="img-fluid" alt="">
                    </div>
                    <div class="member-info">
                        <h4>
                            SDT SMART FACTORY OPEN HOUSE 2022
                        </h4>
                        <span>SDT SMART FACTORY OPEN HOUSE IMAGE</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch opacity-25" data-aos="fade-up" data-aos-delay="300">
                <div class="member">
                    <div class="member-img p-4 pb-0 text-center">
                        <img src="~/img/SFLOGO_XL.png" style="image-rendering: auto; width: 240px; height: 213px;" class="img-fluid" alt="">
                    </div>
                    <div class="member-info">
                        <h4>
                            SDT SMART FACTORY OPEN HOUSE 2023
                        </h4>
                        <span>SDT SMART FACTORY OPEN HOUSE IMAGE</span>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>


<!-- ======= Team Section ======= -->
<section id="portfolio-flters" class="team section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            @*<h2>FY20</h2>*@
            <h3>SDT SMART FACTORY OPEN HOUSE  <span>2020</span></h3>
        </div>

        <div class="row">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
            <div class="col-lg-6 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                <div class="member">
                    <div class="member-img">
                        <img src="~/assets_anine_pwp/SFOpenHouse2020/1.jpg" style="image-rendering: auto; width:100%; height: auto" class="img-fluid" alt="">
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                <div class="member">
                    <div class="member-img">
                        <img src="~/assets_anine_pwp/SFOpenHouse2020/2.jpg" style="image-rendering: auto; width:100%; height: auto" class="img-fluid" alt="">
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                <div class="member">
                    <div class="member-img">
                        <img src="~/assets_anine_pwp/SFOpenHouse2020/3.jpg" style="image-rendering: auto; width:100%; height: auto" class="img-fluid" alt="">
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                <div class="member">
                    <div class="member-img">
                        <img src="~/assets_anine_pwp/SFOpenHouse2020/4.jpg" style="image-rendering: auto; width:100%; height: auto" class="img-fluid" alt="">
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                <div class="member">
                    <div class="member-img">
                        <img src="~/assets_anine_pwp/SFOpenHouse2020/5.jpg" style="image-rendering: auto; width:100%; height: auto" class="img-fluid" alt="">
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                <div class="member">
                    <div class="member-img">
                        <img src="~/assets_anine_pwp/SFOpenHouse2020/6.jpg" style="image-rendering: auto; width:100%; height: auto" class="img-fluid" alt="">
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                <div class="member">
                    <div class="member-img">
                        <img src="~/assets_anine_pwp/SFOpenHouse2020/7.jpg" style="image-rendering: auto; width:100%; height: auto" class="img-fluid" alt="">
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                <div class="member">
                    <div class="member-img">
                        <img src="~/assets_anine_pwp/SFOpenHouse2020/8.jpg" style="image-rendering: auto; width:100%; height: auto" class="img-fluid" alt="">
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                <div class="member">
                    <div class="member-img">
                        <img src="~/assets_anine_pwp/SFOpenHouse2020/9.jpg" style="image-rendering: auto; width:100%; height: auto" class="img-fluid" alt="">
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                <div class="member">
                    <div class="member-img">
                        <img src="~/assets_anine_pwp/SFOpenHouse2020/10.jpg" style="image-rendering: auto; width:100%; height: auto" class="img-fluid" alt="">
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                <div class="member">
                    <div class="member-img">
                        <img src="~/assets_anine_pwp/SFOpenHouse2020/11.jpg" style="image-rendering: auto; width:100%; height: auto" class="img-fluid" alt="">
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                <div class="member">
                    <div class="member-img">
                        <img src="~/assets_anine_pwp/SFOpenHouse2020/12.jpg" style="image-rendering: auto; width:100%; height: auto" class="img-fluid" alt="">
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>
