@{
    ViewData["Title"] = "Control_sf_concept";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@if (ViewBag.Message == "OK")
{
<div class="alert alert-success alert-dismissible" style="margin-top:20px">
    File successfully uploaded to File System.
</div>
}
else if (ViewBag.Message == "NOT_OK")
{
<div class="alert alert-danger alert-dismissible" style="margin-top:20px">
    File failed uploaded to File System.
</div>
}
<style>
    .img_size {
        width: 900px;
        height: 600px;
    }
</style>
<div id="app1">
    <form asp-action="Add_file_upload_img_page"
          asp-controller="Admin"
          method="post"
          enctype="multipart/form-data">
        <section class="forms">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-close">
                            </div>
                            <div class="card-header d-flex align-items-center">
                                <h3 class="h4">File Upload : Page SF Concept</h3>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Uploads file Image for (Page SF Concept)</h5>
                                <p class="card-text">Please select order slide concept for upload file only .jpg or .png</p>
                                <div class="row">
                                    <template>
                                        <div class="col-sm-3">
                                            <select class="form-select form-select-lg mb-3 sm-5" aria-label=".form-select-lg example" v-model="key_page">
                                                <option value="" selected>--- Select page ---</option>
                                                <option v-for="distinct_page in list_page_distinct" v-bind:value="distinct_page.flag_page">
                                                    Menu: | {{ distinct_page.flag_page}}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-sm-8">
                                            <select class="form-select form-select-lg mb-3 sm-7" v-on:change="slide_onChange($event)" aria-label=".form-select-lg example" v-model="key_id">
                                                <option value="" selected>--- Select order slide Concept ---</option>
                                                <option v-for="options in Slide_list" v-bind:value="{ id: options.id, image_url: options.image_url, image_order: options.image_order  }" :name="options.id">
                                                    Order slide no: {{ options.image_order}}
                                                </option>
                                            </select>
                                        </div>
                                    </template>
                                </div>
                                <br />
                                <div class="form-group">
                                    <input id="file" type="file" name="file_img" class="form-control-file">
                                </div>
                                <div class="form-group">
                                    <input id="flag_page_id" type="text" name="flag_page" class="form-control">
                                </div>
                                <div class="form-group">
                                    <input id="image_order" type="text" name="image_order" class="form-control">
                                </div>
                                <div class="form-group">
                                    <input id="id_row" type="text" name="id_row" class="form-control">
                                </div>
                                <div class="form-group mt-4">
                                    <input type="submit" class="btn btn-primary">
                                </div>
                                <div class="form-group mt-2">
                                    <img id="imaget_render" class="shadow rounded mx-auto d-block img_size" alt="Example image">
                                </div>
                                <br />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </form>
</div>
<script>
    var app1 = new Vue({
        el: '#app1',
        data() {
            return {
                list_img_page: [],
                list_page_distinct: [],
                key_id: "",
                key_page: ""
            }
        },
        created: function () {
            this.get_option_page_all(),
                this.get_option_page()
        },
        methods: {
            get_option_page_all(event) {
                axios
                    .post('./get_list_img_project')
                    .then(res => { this.list_img_page = res.data })
                    .catch(function (error) { console.log(error); })
            },
            get_option_page(event) {
                axios
                    .post('./get_list_page_distinct')
                    .then(res => { this.list_page_distinct = res.data })
                    .catch(function (error) { console.log(error); })
            },
            slide_onChange(event) {
                let param_img_url = (this.key_id.image_url);
                $('#flag_page_id').val(this.key_page);
                $('#id_row').val(this.key_id.id);
                $('#image_order').val(this.key_id.image_order);

                $("#imaget_render").attr("src", '/SmartFactory/img/img_control/' + param_img_url);
            },
            //filterCategory: function (val) {
            //    console.log(val)
            //    return val.filter(a => !a.flag_page.indexOf(this.list_img_page))
            //},
        },
        computed: {
            Slide_list: function () {
                return ((this.list_img_page.filter(a => !a.flag_page.indexOf(this.key_page))))
            },
        }
    })
</script>
