@{
    ViewData["Title"] = "Control_sf_organization";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@if (ViewBag.Message == "OK")
{
    <div class="alert alert-success alert-dismissible" style="margin-top:20px">
        File successfully uploaded to File System.
    </div>
}
else if (ViewBag.Message == "NOT_OK")
{
    <div class="alert alert-danger alert-dismissible" style="margin-top:20px">
        File failed uploaded to File System.
    </div>
}

<div id="app1">
    <form asp-action=""
          asp-controller="Admin"
          method="post"
          enctype="multipart/form-data">
        <section class="forms">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-close">
                            </div>
                            <div class="card-header d-flex align-items-center">
                                <h3 class="h4">File Upload : Page SF Organization</h3>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Uploads file Image for (Page SF Organization)</h5>
                                <p class="card-text">Please select order slide SF Organization for upload file only .jpg</p>
                                <template>
                                    <select class="form-select form-select-lg mb-3" v-on:change="SFNo_onChange($event)" aria-label=".form-select-lg example" v-model="key">
                                        <option value="" selected>--- Select order slide Organization ---</option>
                                        <!--<option v-for="options in list_sf_project_option" v-bind:value="options.SF_No">-->
                                        @*SF NO : {{ options.SF_No }} | {{ options.Project_Name}}*@
                                        <!--</option>-->
                                    </select>
                                </template>
                                <br />
                                <div class="form-group">
                                    <input id="file" type="file" name="file_pdf" class="form-control-file">
                                </div>
                                <div class="form-group">
                                    <input id="topic" type="hidden" name="topic_sf" class="form-control">
                                </div>
                                <div class="form-group mt-4">
                                    <input type="submit" class="btn btn-primary">
                                </div>
                                <div id="divloader" style="display:none">
                                </div>
                                <br />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </form>
</div>

<script>
    var app1 = new Vue({
        el: '#app1',
        data() {
            return {
                list_sf_project_option: [],
                key: ""
            }
        },
        created: function () {
            this.get_option_sf_project()
        },
        methods: {
            get_option_sf_project(event) {
                axios
                    .post('./get_list_option_sf_project')
                    .then(res => { this.list_sf_project_option = res.data })
                    .catch(function (error) { console.log(error); })
            },
            SFNo_onChange(event) {
                let param_sf_no = event.target.value;
                $('#topic').val(param_sf_no);
                console.log(param_sf_no);
            },
        }
    })
</script>
