@{
    ViewData["Title"] = "Control_sdt_anine_audit_third_view";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<form asp-action="Add_file_upload_autdit_anine_audit_third"
      asp-controller="Admin"
      method="post"
      enctype="multipart/form-data">
    <section class="forms">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-close">
                            @*<div class="dropdown">
                                    <button type="button" id="closeCard1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-ellipsis-v"></i></button>
                                    <div aria-labelledby="closeCard1" class="dropdown-menu dropdown-menu-right has-shadow">
                                        <a href="#" class="dropdown-item remove"> <i class="fa fa-times"></i>Close</a>
                                        <a href="#" class="dropdown-item edit"> <i class="fa fa-gear"></i>Edit</a>
                                    </div>
                                </div>*@
                        </div>
                        <div class="card-header d-flex align-items-center">
                            <h3 class="h4">File Upload</h3>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Upload file Presentation for Audit (3rd party)</h5>
                            <p class="card-text">Please upload file only .pdf</p>
                            <div class="form-group">
                                <input id="files" type="file" name="file_pdf" class="form-control-file">
                            </div>
                            <div class="form-group mt-4">
                                <input type="submit" class="btn btn-primary">
                            </div>
                            <div id="divloader" style="display:none">
                                <img src="~/img/photos/64x64.gif" />
                            </div>
                            <br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>

<script>
    $(document).ready(function () {

    });
</script>
