@{
    ViewData["Title"] = "Sdt_concept_view";
}
<style>
    .img_size {
        width: 85%;
        height: 85%;
    }
</style>

<div id="app_sf_concept">
    <section id="contact" class="contact">
        <div class="container" data-aos="zoom-out">
            <div class="h-100">
                <div class="py-0 px-5">
                    <div id="carouselExampleDark" class="carousel carousel-dark slide mt-4" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <template v-for="(item, index) in list_concept_computed">
                                <div v-bind:class="(index === 0)?'carousel-item active':'carousel-item'">
                                    <div class="row align-items-center justify-content-center">
                                        <div class="col-12 text-center opacity-95">
                                            <img v-bind:src="'../img/img_control/' + item.image_url" class="img_size" />
                                        </div>
                                    </div>
                                </div>
                            </template>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script>
    var app_sf_concept = new Vue({
        el: '#app_sf_concept',
        data() {
            return {
                list_img_page_concept: []
            }
        },
        created: function () {
            this.get_list_img_sf_concept()
        },
        methods: {
            get_list_img_sf_concept() {
                axios
                    .post('/SmartFactory/Admin/get_list_img_project')
                    .then(res => { this.list_img_page_concept = res.data })
                    .catch(function (error) { console.log(error); })
            },
        },
        computed: {
            list_concept_computed: function () {
                return (
                    this.list_img_page_concept.filter(x => x.flag_page == "page_sf_concept" && x.status_image == 'ACTIVE')
                )
            },
        }
    })
</script>
@*<section id="contact" class="contact">
        <div class="container" data-aos="zoom-out">
            <div class="h-100">
                <div class="py-0 px-5">
                    <div id="carouselExampleDark" class="carousel carousel-dark slide mt-4" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active ">
                                <div class="row align-items-center justify-content-center">
                                    <div class="col-12 text-center opacity-95">
                                        <img src="~/assets_anine_pwp/SFconcept/Slide2.jpg" width="85%" height="85%" />
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row align-items-center justify-content-center">
                                    <div class="col-12 text-center opacity-95">
                                        <img src="~/assets_anine_pwp/SFconcept/Slide3.jpg" width="85%" height="85%" />
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row align-items-center justify-content-center">
                                    <div class="col-12 text-center opacity-95">
                                        <img src="~/assets_anine_pwp/SFconcept/Slide4.jpg" width="85%" height="85%" />
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row gx-5 align-items-center justify-content-center">
                                    <div class="col-12 text-center opacity-95">
                                        <img src="~/assets_anine_pwp/SFconcept/Slide5.JPG" width="85%" height="85%" />
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row gx-5 align-items-center justify-content-center">
                                    <div class="col-12 text-center opacity-95">
                                        <img src="~/assets_anine_pwp/SFconcept/Slide6.JPG" width="85%" height="85%" />
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row gx-5 align-items-center justify-content-center">
                                    <div class="col-12 text-center opacity-95">
                                        <img src="~/assets_anine_pwp/SFconcept/Slide7.JPG" width="85%" height="85%" />
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row gx-5 align-items-center justify-content-center">
                                    <div class="col-12 text-center opacity-95">
                                        <img src="~/assets_anine_pwp/SFconcept/Slide8.JPG" width="85%" height="85%" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>*@<!-- End Contact Section -->
