<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SDT Smart Factory</title>
    <!-- JS -->
    <script src="~/lib/jquery/dist/jquery.js"></script>

    <!-- Vendor JS Files -->
    <script src="~/lib/assets/vendor/aos/aos.js"></script>
    <script src="~/lib/assets/vendor/bootstrap/js/bootstrap.js"></script>
    <script src="~/lib/assets/vendor/glightbox/js/glightbox.js"></script>
    <script src="~/lib/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/lib/assets/vendor/php-email-form/validate.js"></script>
    <script src="~/lib/assets/vendor/purecounter/purecounter.js"></script>
    <script src="~/lib/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/lib/assets/vendor/waypoints/noframework.waypoints.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- Template Main JS File -->
    <script src="~/lib/assets/js/main.js"></script>

    <script src="~/lib/vuejs/vue.js"></script>

    <!-- Template Main CSS File -->
    <link href="~/lib/assets/css/style.css" rel="stylesheet">
    <link href="~/lib/assets/css/custom.css?version=1" rel="stylesheet" />

    <!-- Vendor CSS Files -->
    <link href="~/lib/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/lib/assets/vendor/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/lib/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/lib/assets/vendor/glightbox/css/glightbox.css" rel="stylesheet">
    <link href="~/lib/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">


    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Favicons -->
    <link href="~/lib/assets/img/favicon.png" rel="icon">
    <link href="~/lib/assets/img/apple-touch-icon.png" rel="apple-touch-icon">
</head>

<body>
    <header id="header" class="d-flex align-items-center sticky-top" style="background-color:#036;">
        <div class="container-fluid d-flex align-items-center justify-content-between">
            <div class="logo">
                <a class="d-flex align-items-center justify-content-between" asp-area="" asp-controller="SFProject" asp-action="Home_page_menu_view">
                    <div class="me-2"><img src="~/img/SFSDTLogo.png" width="65" height="65"></div>
                    <h6 style="color:white;">SDT SMART FACTORY</h6>
                </a>
            </div>
            <nav id="navbar" class="navbar">
                <ul>
                    <li class="nav-item">
                        <a class="nav-link scrollto " asp-area="" asp-controller="SFProject" asp-action="Site_map_view" style="color:white;">SITE MAP</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link scrollto " asp-area="" asp-controller="SDTDashboard" asp-action="Sdt_dashboard_view" style="color:white;">DASHBOARD</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link scrollto " asp-area="" asp-controller="SDTA" asp-action="Sdt_ax_main_view" style="color:white;">SF A1-10</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link scrollto " asp-area="" asp-controller="SFProject" asp-action="Sdt_porject_view" style="color:white;">SF PROJECT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link scrollto " asp-area="" asp-controller="SFProject" asp-action="Sdt_porject_progress_view" style="color:white;">PROJECT PROGRESS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link scrollto " asp-area="" asp-controller="Knowledge" asp-action="Knowledge_center_view" style="color:white;">KNOWLEDGE CENTER</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link scrollto " asp-area="" asp-controller="SDTActivity" asp-action="Sdt_activity_view" style="color:white;">SF ACTIVITY</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link scrollto " asp-area="" asp-controller="SDTConcept" asp-action="Sdt_concept_view" style="color:white;">SF CONCEPT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link scrollto " asp-area="" asp-controller="SFogz" asp-action="Sfogz_view" style="color:white;">SF ORGANIZATION</a>
                    </li>
                    @*<li class="nav-item">
                        <a class="nav-link scrollto " asp-area="" asp-controller="Admin" asp-action="Admin_panel_main_view">CONTROLS</a>
                    </li>*@
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav>
        </div>
    </header>
    <!-- End Header -->

    <div class="container-fluid">
        @RenderBody()
    </div>
</body>
@RenderSection("Scripts", required: false)
</html>
<script>
    if (/MSIE \d|Trident.*rv:/.test(navigator.userAgent)) {
        window.location = 'microsoft-edge:' + window.location;
        setTimeout(function () {
            window.location = 'https://go.microsoft.com/fwlink/?linkid=2135547';
        }, 1);
    }
</script>