@{
    ViewData["Title"] = "Sdt_dashboard_view";
}


<section id="contact" class="contact">
    <div class="container" data-aos="zoom-out">

        <div class="section-title">
            <h3>SDT SMART FACTORY <span>DASHBOARD</span></h3>
            @*@Html.ActionLink("CENTER POINT", "Index", "CenterPoint", null, new { @class = "nav-link scrollto" + " " + @Html.IsActive("CenterPoint", "Index") })*@
        </div>


        <div class="carousel-inner">
            <div class="carousel-item active ">
                <div class="row align-items-center justify-content-center">
                    <div class="col-12 text-center opacity-85">
                        <img src="~/assets_anine_pwp/Dashboard.png" width="85%" height="85%" />
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>